*{margin: 0;}
body {
   height: 100vh;
   margin: 0;
   display: flex;
   position: relative;
   
 }


.back a{
   color: black;
   text-decoration: none;
}


.back a:hover{
   color: white;
}

.back{
   padding-left: 20px;
   width: 90px;
   font-family: 'Nanum Pen Script', cursive;
   
   font-size: 2.5rem;
}

.profile{
   position: absolute;
   right: 658px;
   top: 1px;
   color: #DCBE8A;
   font-size: 7rem;
   margin-top: 40px;
   font-family: 'Nanum Pen Script', cursive;
   
   
}

/* 왼쪽 사진 ------------------------------*/

.top-icon{
padding-left: 80px;
padding-top: 40px;
width: 80px;
}

.manager{
  padding-left: 55px;
  font-size: 20px;
}

.top hr{
  width: 260px;
  margin: 0;
}
/*회원관리*/
.member{
  display: flex;
}

h3{
   padding-top: 20px;
  padding-left: 20px;
  display: inline-flex;
}


/*상품관리*/
.product{
   display: flex;
 }

 /*주문관리*/
.order{
   display: flex;
 }
 
 /*취소/환불관리*/
.cancell{
   display: flex;
 }

 

  /*정산관리*/
.calculate{
   display: flex;
 }
 

  /*게시판관리*/
.board{
   display: flex;
 }


  /*통계분석*/
.statistics{
   display: flex;
 }
 

  /*서비스관리*/
.service{
   display: flex;
 }
 

  /*쿠폰관리*/
.cupon{
   display: flex;
 }
 
 /*down 쪽*/
.down1{
  margin: 18px;
  width: 30px;
  height: 0.3;
  padding-left: 100px;
}

.down2{
   margin: 18px;
   width: 30px;
   height: 0.3;
   padding-left: 55px;
 }

 .down3{
   margin: 18px;
   width: 30px;
   height: 0.3;
   padding-left: 80px;
 }

/* 가로 줄 */
.line hr{
   height: 1000px;
}

.go h3{
   padding-top : 50px;
   padding-left: 40px;
}


.id h3{
   padding-top : 50px;
   padding-left: 1230px;
   
}
 