* {
   margin: 0;
}

li {
   list-style: none;
}
ul{  
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   font-size: 20px;
}

body {
   height: 100vh;
   margin: 0;
   display: flex;
   position: relative;

}


.back a {
   color: black;
   text-decoration: none;
}


.back a:hover {
   color: white;
}

.back {
   padding-left: 20px;
   width: 90px;
   font-family: 'Nanum Pen Script', cursive;

   font-size: 2.5rem;
}

.profile {
   position: absolute;
   right: 658px;
   top: 1px;
   color: #DCBE8A;
   font-size: 7rem;
   margin-top: 40px;
   font-family: 'Nanum Pen Script', cursive;


}
/*---------------nav bar top---------------*/
.manager{
   padding-left: 0px;
}

.manager img{
padding: 30px 0px 20px 85px;
width: 70px;
}

.manager h2{
   padding: 20px 0px 25px 45px;
}

/* nav bar ------------------------------*/
.menu {
   width: 250px;
   padding: 0;
   border: 1px solid rgba(0, 0, 0, 0.185);
}

.menu>.box {
   width: 229px;
   padding-left: 20px;
   line-height: 70px;
   border: 1px solid rgba(0, 0, 0, 0.185);
   border-bottom-color: #0c0b0b00;
   border-right-color: #0c0b0b00;
   
}

.menu>.bottom-box{
   width: 229px;
   padding-left: 20px;
   line-height: 70px;
   border: 1px solid rgba(0, 0, 0, 0.185);
   border-right-color: #0c0b0b00;
}

.menu a {
   color: #0c0b0b;
}

.bar>li {
   line-height: 50px;
   background-color: #aebdf8;
}

.bar {
   height: 0;
   /*ul의 높이를 안보이게 처리*/
   overflow: hidden;
}

.bar > li{
   border-top: 1px solid rgba(0, 0, 0, 0.185);
   position: relative;
   width: 200px;
   overflow: visible;
}

.bar > li:hover{
   background-color: #020c132a;
   overflow: visible;
}

.menu > li:hover {
   background-color: #aebdf8;
   transition-duration: 0.5s;
 }


/* --------- 서브메뉴 li한개의 높이 ------------*/


.menu>li:hover .member {
   height: 200px;
   transition-duration: 1s;
}
.menu>li:hover .product {
   height: 100px;
   transition-duration: 1s;
}
.menu>li:hover .order {
   height: 400px;
   transition-duration: 1s;
}
.menu>li:hover .cancell {
   height: 150px;
   transition-duration: 1s;
}
.menu>li:hover .calculate {
   height: 100px;
   transition-duration: 1s;
}
.menu>li:hover .board {
   height: 250px;
   transition-duration: 1s;
}
.menu>li:hover .statistics {
   height: 240px;
   transition-duration: 1s;
}
.menu>li:hover .service {
   height: 100px;
   transition-duration: 1s;
}


/*-----------------  화살표 ---------------*/

h4{
   display: flex;
   display: inline-flex;
}


.down{
   position: relative;
   top: 5px;

}

.down1{
   position: relative;
   left: 126px;
   display: inline-flex;
}

.down2{
   position: relative;
   left: 87px;
   display: inline-flex;
}

.down3{
   position: relative;
   left: 110px;
   display: inline-flex;
}


/*-------- top -------------*/

.go h3{
   padding-top : 50px;
   padding-left: 40px;
}


.id h3{
   padding-top : 50px;
   padding-left: 1230px;
   
}