@charset "UTF-8";
html{
    font-size: 100%;
}

body{
      color: black;
      line : 2.0;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

/*home------------------------------------------*/
#home {
    background-image: url(../images/main-im.jpg);
    width: 100%;
    height: 100%;
    position: relative;     /* 여기는 배경위로 겹칠수 있게 해주는 명령어*/
  
}


.big-bg {
    background-size: cover;
    background-position : center bottom;
    background-repeat: no-repeat;
    position: relative;
}

.title1{
    color: white;
    margin: 0px;
    text-align: right;
    font-size: 4rem;
    padding-right: 40px;
       
}

/* 상위인 애한테 dispaly : flex 를 안주면 하위 클래스인 애가 text-align: center; 명령어가 안먹음*/


.title2{
    position: absolute;     /* 여기는 배경위로 겹칠수 있게 해주는 명령어*/
    background-color: #595252;
    color: white;
    top: 81.6%;
    width: 100vw;
    height: 15vh;
    margin-bottom: 0;
    font-size: 3rem;
    line-height: 290%;
    border: 0;
    text-align: center;
    
}

.title2:hover + .introduce-clik{
    
    opacity: 1;
}

.introduce-clik{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 35px;
    color: white;
    top: 50%;
    padding: 15px 60px;
    background-color: #4444448a;
    border-radius: 10px;
    width: 60vw;
    height: 25vh;
    right: 300px;
    left: 300px;
    position: absolute;
    opacity: 0;
    transition: all ease 0.5s;
    
}
.title2:hover{
    color: black;
    
}
.title2 a{
    color: white;
}

.title2 a:hover{
    color: black;

}

/*profile -----------------------------------------*/

.back a{
    color: black;
}


.back a:hover{
    color: white;
}

.back{
    padding-left: 20px;
}

.profile{
    text-align: right;
    padding-right: 40%;
    color: rgba(0, 0, 0, 0.2);
    font: ;
}

